<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>앱앤미</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/records/records-detail.css">
</head>

<body>
<header id="header">
    <div id="menu-toggle" class="menu-icon" onclick="toggleMenu()">
        <img id="menu-icon-image" src="/images/menuiconimage.png"/>
    </div>
    <nav id="nav">
        <ul id="nav-menu">
            <li class="nav-item"><a href="/members">부원 소개</a></li>
            <li class="nav-item"><a href="/application">지원하기</a></li>
            <li class="nav-item"><a href="/board">QnA</a></li>
            <li class="nav-item"><a href="/records">활동기록</a></li>
            <li class="nav-item"><a href="/upload">질문하기</a></li>
        </ul>
        <div id="remove-menu">
        </div>
        <div id="nav-logo">
            <a href="/"><img src="/images/logo.png" alt="" class="logo-img"></a>
        </div>
    </nav>
</header>
<main id="main">
    <div class="season">
        <!--선택된 기수에 따라 selected 클래스 바꿈-->
        <% if (cohort === '11') { %>
            <a href="/records/details?cohort=11&major=<%= major %>" class="th selected">11기</a>
            <a href="/records/details?cohort=12&major=<%= major %>" class="th">12기</a>
        <% } else { %>
            <a href="/records/details?cohort=11&major=<%= major %>" class="th">11기</a>
            <a href="/records/details?cohort=12&major=<%= major %>" class="th selected">12기</a>
        <% } %>
    </div>
    <div class="main-content">
        <div class="name-list">
            <% if (major === 'dev') { %>
                <div class="name-title">개발과</div>
            <% } else { %>
                <div class="name-title">디자인과</div>
            <% } %>
            <% namelist.forEach( (name, i) => { %>
                <% if (index == i) { %>
                    <a href="/records/details?cohort=<%= cohort %>&major=<%= major %>&index=<%= i %>" class="name name-selected">
                        <%= name %>
                    </a>
                <% } else { %>
                    <a href="/records/details?cohort=<%= cohort %>&major=<%= major %>&index=<%= i %>" class="name">
                        <%= name %>
                    </a>
                <% } %>
            <% }); %>
        </div>
        <div class="achieve-container">
            <% records.forEach(record => { %>
                <div class="achieve-item">
                    <div class="achieve-image">
                        <img src="<%= record.image %>" alt="">
                    </div>
                    <div class="achieve-label"><%= record.label %></div>
                </div>
            <% }); %>
        </div>
</main>
<footer id="footer">
    <div class="logos">
        <div class="anm-logo" onclick="window.open('/', '_top')">
            <img src="/images/logo.png" alt="앱앤미로고">
            <span>App&Me</span>
        </div>
        <div class="sns-logo">
            <a href="https://www.instagram.com/app_and_me/"><img src="/images/instagram.png" alt=""></a>
            <a href="https://github.com/app-and-me"><img src="/images/github.png" alt=""></a>
        </div>
    </div>
    <div class="info">
        <div>문의전화: 010-3955-8103(소프트웨어과 추다율), 010-3501-0582(디자인과 하지민)</div>
        <div>이메일 : s2317@e-mirim.hs.kr(소프트웨어과 추다율), d2335@e-mirim.hs.kr(디자인과 하지민)</div>
    </div>
    <hr>
    <div class="code">©Team App&Me</div>
</footer>
<script>
    const menuElement = document.getElementById("nav-menu");
    const removeDiv = document.getElementById("remove-menu");
    const menuIcon = document.getElementById("menu-icon-image");
    let isShowing = false;

    function toggleMenu() {
        menuElement.classList.toggle("showing");
        removeDiv.classList.toggle("showing");
        isShowing = !isShowing;
        if (isShowing) menuIcon.src = "/images/cancel.png";
        else menuIcon.src = "/images/menuiconimage.png";

        console.log(menuIcon);
    }
</script>
</body>

</html>
